- if flash[:notice]
  #notice.message= flash[:notice]
- elsif flash[:warning]
  #warning.message= flash[:warning]
- elsif flash[:error]
  #error.message= flash[:error]
%fieldset
  %legend URL Details 
  = form_for(@url) do |f|
    = f.label :to, 'Full URL:'
    = f.text_field :to, :class => 'text'
    %br
    = f.label :shortened, 'Shortened URL:'
    = f.text_field :shortened, :class => 'text'
    %br
    = f.label :clicks, 'Clicks:'
    = @url.clicks
    %br
    %br
    = f.submit 'Save Changes', :class => 'save'
    %br
    %br
  -if @url.clicks > 0
    = link_to 'Reset Clicks', reset_path(@url.id.to_s), :confirm => "Are you sure you would like to reset 'Clicks' for this shortened URL (" + shortened_url(@url.shortened) + ") ?", :method => :post, :class => 'link'
    |
  = link_to 'Delete', '/urls/' + @url.id.to_s, :confirm => 'Are you sure you would like to delete this shortened URL (' + shortened_url(@url.shortened) + ') ?', :method => :delete, :class => 'link'
  |
  = link_to 'Back to URLS', urls_path, :class => 'link'